* {
  font-family: sans-serif;
  margin: 0;
}

.App {
  text-align: center;
}

header {
  align-items: center;
  background-color: #212B38;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
  color: aliceblue;
  display: flex;  
  height: 60px;
  justify-content: center;
}

main {
  background-image: url('./images/background.png');
}

header h1 {
  font-size: 24px;
}

.planetMainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.planetMainContainer h2 {
  color: aliceblue;
}

.planetsContainer {
  align-items: center;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 1300px) {
  .planetsContainer {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.planetCard {
  align-items: center;
  background-color: #212B38;
  border-radius: 10px;
  box-shadow: 13px 16px 15px -3px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  margin: 5px;
  width: 150px;
}

.planetCard:nth-of-type(1) img {
  height: 31px;
  margin: 40px;
  width: 41px;
}

.planetCard:nth-of-type(2) img {
  height: 76px;
  margin: 20px;
  width: 102px;
}

.planetCard:nth-of-type(3) img {
  height: 79px;
  margin: 20px;
  width: 106px;
}

.planetCard:nth-of-type(4) img {
  height: 50px;
  margin: 35px;
  width: 66px;
}

.planetCard:nth-of-type(5) img {
  height: 110px;
  margin: 5px;
  width: 140px;
}

.planetCard:nth-of-type(6) img {
  height: 120px;
  width: 140px;
}

.planetCard:nth-of-type(7) img {
  height: 109px;
  width: 144px;
}

.planetCard:nth-of-type(8) img {
  height: 107px;
  margin: 3px;
  width: 144px;
}

.missions {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.missions h2 {
  color: aliceblue;
  text-align: center;
}

.missions-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.mission-card {
  align-items: center;
  background-color: #212B38;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-evenly;
  margin: 5px;
  width: 240px;
}

.mission-card p:nth-of-type(1) {
  color: rgb(14, 0, 14);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.mission-card hr {
  background-color: #161d25;
  border: none;
  height: 2px;
  width: 238px;
}
